{% extends 'myFirstApp/index.html' %}

{% block body_block %}
<br><br><br><br><br><br>
<div id="lg"> 
<br><br>
   <center> <h4>{{ title }}</h4></center>
    <br>
    
    <div class="container">
        <div class="row justify-content-md-center">

        <br><br>
    
    {% for i in task %}
        <div class="tilt2">
            <div class="col-lg-10 col-lg-offset-4">
                <a href={%url 'currentTask' i.id%}><img src="{{ i.task_img.url }}" width="180" height="180" alt=""> </a>
                <p>{{ i.task_name }} </p>
            </div>
        </div> 
    {% endfor %}

       
        </div>
    </div>
    <br><br><br>
   <center> <a href={% url 'index' %} >  <button type="button" class="btn btn-dark center">Exit</button></a></center>
    <br><br>

    {% comment %} Pugination {% endcomment %}
        <div class="pagination row justify-content-md-center">

        {% if task.has_previous %}
            <a  class="pagination-action" href="?page=1"><i class="fas fa-angle-double-left"></i> </a>
            <a class="pagination-action" href="?page={{ task.previous_page_number }}">
                <i class="fas fa-angle-left"></i>
            </a>
        {% endif %}
        {% for num in task.paginator.page_range %}
            {% if task.number == num %}
                <span class="pagination-number pagination-current" >{{ num }}</span>
        {% elif num > task.number|add:'-3' and num < task.number|add:'3' %}
               <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}
        {% if task.has_next %}
            <a class="pagination-action" href="?page={{ task.next_page_number }}">
                 <i class="fas fa-angle-right"></i>
            </a>
            <a  class="pagination-action" href="?page=1"><i class="fas fa-angle-double-right"></i> </a>
        {% endif %}
    </div>
{% comment %} -------- {% endcomment %}
  </div>
  {% endblock  %}