{% extends "Menu/base.html" %}
{% block body_block %}
<style>
            body{background-image:url(/static/images.jpg)}
        </style>
<style>
p{
font: 70px Tahoma;
color: orange;
text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;}

</style>
<script type="text/javascript">
var audio = new Audio(); // Создаём новый элемент Audio
  audio.src = '/static/roulette.mp3/'; // Указываем путь к звуку "клика"
  // Автоматически запускаем
all_images = new Array (
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",

"{{slideshow.0.slide.url}}",
"{{slideshow.1.slide.url}}",
"{{slideshow.2.slide.url}}",
"{{slideshow.3.slide.url}}",
"{{slideshow.4.slide.url}}",
"{{slideshow.5.slide.url}}",
"{{slideshow.6.slide.url}}",
"{{slideshow.7.slide.url}}",
"{{slideshow.8.slide.url}}",
"{{slideshow.9.slide.url}}",
"{{slideshow.10.slide.url}}",
"{{slideshow.11.slide.url}}",
"{{slideshow.12.slide.url}}",
"{{slideshow.13.slide.url}}",
"{{slideshow.14.slide.url}}",
"{{slideshow.15.slide.url}}",
"{{slideshow.16.slide.url}}",
"{{slideshow.17.slide.url}}",
"{{slideshow.18.slide.url}}",
"{{slideshow.19.slide.url}}",
"{{slideshow.20.slide.url}}",
"{{slideshow.21.slide.url}}",
"{{slideshow.22.slide.url}}",
"{{slideshow.23.slide.url}}",
"{{slideshow.24.slide.url}}",
"{{slideshow.25.slide.url}}",
"{{slideshow.26.slide.url}}",
"{{slideshow.27.slide.url}}",
"{{slideshow.28.slide.url}}",
"{{slideshow.29.slide.url}}",
"{{slideshow.30.slide.url}}",
"{{slideshow.31.slide.url}}",
"{{slideshow.32.slide.url}}",
"{{slideshow.33.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.36.slide.url}}",

"{{slideshow.0.slide.url}}",
"{{slideshow.1.slide.url}}",
"{{slideshow.2.slide.url}}",
"{{slideshow.3.slide.url}}",
"{{slideshow.4.slide.url}}",
"{{slideshow.5.slide.url}}",
"{{slideshow.6.slide.url}}",
"{{slideshow.7.slide.url}}",
"{{slideshow.8.slide.url}}",
"{{slideshow.9.slide.url}}",
"{{slideshow.10.slide.url}}",
"{{slideshow.11.slide.url}}",
"{{slideshow.12.slide.url}}",
"{{slideshow.13.slide.url}}",
"{{slideshow.14.slide.url}}",
"{{slideshow.15.slide.url}}",
"{{slideshow.16.slide.url}}",
"{{slideshow.17.slide.url}}",
"{{slideshow.18.slide.url}}",
"{{slideshow.19.slide.url}}",
"{{slideshow.20.slide.url}}",
"{{slideshow.21.slide.url}}",
"{{slideshow.22.slide.url}}",
"{{slideshow.23.slide.url}}",
"{{slideshow.24.slide.url}}",
"{{slideshow.25.slide.url}}",
"{{slideshow.26.slide.url}}",
"{{slideshow.27.slide.url}}",
"{{slideshow.28.slide.url}}",
"{{slideshow.29.slide.url}}",
"{{slideshow.30.slide.url}}",
"{{slideshow.31.slide.url}}",
"{{slideshow.32.slide.url}}",
"{{slideshow.33.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.36.slide.url}}",

"{{slideshow.0.slide.url}}",
"{{slideshow.1.slide.url}}",
"{{slideshow.2.slide.url}}",
"{{slideshow.3.slide.url}}",
"{{slideshow.4.slide.url}}",
"{{slideshow.5.slide.url}}",
"{{slideshow.6.slide.url}}",
"{{slideshow.7.slide.url}}",
"{{slideshow.8.slide.url}}",
"{{slideshow.9.slide.url}}",
"{{slideshow.10.slide.url}}",
"{{slideshow.11.slide.url}}",
"{{slideshow.12.slide.url}}",
"{{slideshow.13.slide.url}}",
"{{slideshow.14.slide.url}}",
"{{slideshow.15.slide.url}}",
"{{slideshow.16.slide.url}}",
"{{slideshow.17.slide.url}}",
"{{slideshow.18.slide.url}}",
"{{slideshow.19.slide.url}}",
"{{slideshow.20.slide.url}}",
"{{slideshow.21.slide.url}}",
"{{slideshow.22.slide.url}}",
"{{slideshow.23.slide.url}}",
"{{slideshow.24.slide.url}}",
"{{slideshow.25.slide.url}}",
"{{slideshow.26.slide.url}}",
"{{slideshow.27.slide.url}}",
"{{slideshow.28.slide.url}}",
"{{slideshow.29.slide.url}}",
"{{slideshow.30.slide.url}}",
"{{slideshow.31.slide.url}}",
"{{slideshow.32.slide.url}}",
"{{slideshow.33.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.36.slide.url}}",

"{{slideshow.0.slide.url}}",
"{{slideshow.1.slide.url}}",
"{{slideshow.2.slide.url}}",
"{{slideshow.3.slide.url}}",
"{{slideshow.4.slide.url}}",
"{{slideshow.5.slide.url}}",
"{{slideshow.6.slide.url}}",
"{{slideshow.7.slide.url}}",
"{{slideshow.8.slide.url}}",
"{{slideshow.9.slide.url}}",
"{{slideshow.10.slide.url}}",
"{{slideshow.11.slide.url}}",
"{{slideshow.12.slide.url}}",
"{{slideshow.13.slide.url}}",
"{{slideshow.14.slide.url}}",
"{{slideshow.15.slide.url}}",
"{{slideshow.16.slide.url}}",
"{{slideshow.17.slide.url}}",
"{{slideshow.18.slide.url}}",
"{{slideshow.19.slide.url}}",
"{{slideshow.20.slide.url}}",
"{{slideshow.21.slide.url}}",
"{{slideshow.22.slide.url}}",
"{{slideshow.23.slide.url}}",
"{{slideshow.24.slide.url}}",
"{{slideshow.25.slide.url}}",
"{{slideshow.26.slide.url}}",
"{{slideshow.27.slide.url}}",
"{{slideshow.27.slide.url}}",
"{{slideshow.28.slide.url}}",
"{{slideshow.28.slide.url}}",
"{{slideshow.28.slide.url}}",
"{{slideshow.29.slide.url}}",
"{{slideshow.29.slide.url}}",
"{{slideshow.29.slide.url}}",
"{{slideshow.30.slide.url}}",
"{{slideshow.30.slide.url}}",
"{{slideshow.30.slide.url}}",
"{{slideshow.31.slide.url}}",
"{{slideshow.31.slide.url}}",
"{{slideshow.31.slide.url}}",
"{{slideshow.31.slide.url}}",
"{{slideshow.31.slide.url}}",
"{{slideshow.32.slide.url}}",
"{{slideshow.32.slide.url}}",
"{{slideshow.32.slide.url}}",
"{{slideshow.32.slide.url}}",
"{{slideshow.32.slide.url}}",
"{{slideshow.32.slide.url}}",
"{{slideshow.33.slide.url}}",
"{{slideshow.33.slide.url}}",
"{{slideshow.33.slide.url}}",
"{{slideshow.33.slide.url}}",
"{{slideshow.33.slide.url}}",
"{{slideshow.33.slide.url}}",
"{{slideshow.33.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.34.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.35.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",
"{{slideshow.36.slide.url}}",

"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",
"{{slideshow.0.slide.url}}",

);
var ImgNum = 0;
var ImgLength = all_images.length - 1;
var delay = 50;
var lock = false;
var run;
var ss = "XEX";
function chgImg(direction) {
 audio.autoplay = true;
 if (document.images) {audio.autoplay = true;
  ImgNum = ImgNum + direction;
  if (ImgNum == ImgLength) { audio.autoplay = true; lock = true }
  if (ImgNum > ImgLength) {  audio.autoplay = true;ImgNum = 0; }
  if (ImgNum < 0) {  audio.autoplay = true;ImgNum = ImgLength; }
  document.slide_show.src = all_images[ImgNum];
 }


}

function auto() {
 audio.autoplay = true;
 if (lock == true) {
  lock = false; audio.autoplay = true;
  window.clearInterval(run);
 }
 else if (lock == false) {audio.autoplay = true;
  lock = true; audio.autoplay = true;
  run = setInterval("chgImg(1)", delay);audio.autoplay = true;
 }
}
</script>



<div class="container">
  <div class="jumbotron" style="background-color:#1b0318; background-image:url(/static/2.jpg); color:#CCCCCC;">

<table style="margin: 0 auto;">
 <tr style="text-align: center;">
  <td colspan="3"><img src="{{slideshow.0.slide.url}}" name="slide_show" width="500" height="500"></td>
 </tr>
 <tr>

 </tr>
</table>



<script type="text/javascript">
 auto();audio.autoplay = true; ss;
</script>

      <font size="15"    color="White">
         <br>
     <h4>ᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠᅠ
         <input type="submit" name="0" value="0" style = "background-color:#228B22; border-radius:90px; border-color:#FFFFFF; width:200px; height:50px; " >
         <br>
         <input type="submit" name="3" value="3" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; " >
         <input type="submit" name="6" value="6" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="9" value="9" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="12" value="12" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="15" value="15" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="18" value="18" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="21" value="21" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="24" value="24" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; " >
         <input type="submit" name="27" value="27" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="30" value="30" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="33" value="33" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="36" value="36" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="3-36" value="3rd row" style = "background-color:#228B22; border-radius:10px; border-color:#FFFFFF; width:100px; height:50px; ">
         <br>
         <input type="submit" name="2" value="2" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; " >
         <input type="submit" name="5" value="5" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="8" value="8" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="11" value="11" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="14" value="14" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="17" value="17" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="20" value="20" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="23" value="23" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; " >
         <input type="submit" name="26" value="26" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="29" value="29" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="32" value="32" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="35" value="35" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="2-35" value="2nd row" style = "background-color:#228B22; border-radius:10px; border-color:#FFFFFF; width:100px; height:50px; ">
         <br>
         <input type="submit" name="1" value="1" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; " >
         <input type="submit" name="4" value="4" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="7" value="7" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="10" value="10" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="13" value="13" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="16" value="16" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="19" value="19" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="22" value="22" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; " >
         <input type="submit" name="25" value="25" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="28" value="28" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="31" value="31" style = "background-color:#000000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="34" value="34" style = "background-color:#FF0000; border-radius:90px; border-color:#FFFFFF; width:70px; height:50px; ">
         <input type="submit" name="1-34" value="1st row" style = "background-color:#228B22; border-radius:10px; border-color:#FFFFFF; width:100px; height:50px; ">
         <br>
         <input type="submit" name="1st" value="1st 12" style = "background-color:#228B22; border-radius:10px; border-color:#FFFFFF; width:290px; height:50px; ">
         <input type="submit" name="2nd" value="2nd 12" style = "background-color:#228B22; border-radius:10px; border-color:#FFFFFF; width:300px; height:50px; ">
         <input type="submit" name="3rd" value="3rd 12" style = "background-color:#228B22; border-radius:10px; border-color:#FFFFFF; width:300px; height:50px; ">
         <br>
         <input type="submit" name="1-18" value="1-18" style = "background-color:#228B22; border-radius:10px; border-color:#FFFFFF; width:140px; height:50px; ">
         <input type="submit" name="even" value="EVEN" style = "background-color:#228B22; border-radius:10px; border-color:#FFFFFF; width:140px; height:50px; ">ᅠ
         <input type="submit" name="red" value="RED" style = "background-color:#FF0000; border-radius:10px; border-color:#FFFFFF; width:140px; height:50px; ">
         <input type="submit" name="black" value="BLACK" style = "background-color:#000000; border-radius:10px; border-color:#FFFFFF; width:130px; height:50px; ">ᅠ
         <input type="submit" name="odd" value="ODD" style = "background-color:#228B22; border-radius:10px; border-color:#FFFFFF; width:140px; height:50px; ">
         <input type="submit" name="19-36" value="19-36" style = "background-color:#228B22; border-radius:10px; border-color:#FFFFFF; width:140px; height:50px; ">
     </h4>
         <br>
     </font>

 <form enctype="multipart/form-data" method="POST" >

 {% csrf_token %}
 <font size="15"    color="White"> <h4 align="center"> <input type="submit" name="TA" value="TRY AGAIN" style = "background-color:#8600ac; border-radius:50px; border-color:#ac00dd; width:200px; height:50px;" > </h4>    </font>

   </form>

<p align="center">  {{user.Roulette.message}} </p>

      </div> </div>

{% endblock %}